@media (max-width: 1400px) {
}

@media (max-width: 1380px) {
  /* ========== About Page ========== */
  .about-section-1 {
    max-width: 1380px;
  }

  .about-grid-1 {
    padding: 15px;
  }

  .about-grid-5 h1 {
    margin-top: 30px;
  }

  .about-section-2 {
    line-height: 1.2;
    grid-auto-columns: 260px;
  }

  .about-section-4 {
    grid-template-columns: repeat(3, 340px);
  }

  .about-section-4 h1 {
    right: 55.5%;
  }
}

@media (max-width: 1320px) {
  /* ========== Giving Page ========== */
  .giving-section-1 {
    max-width: 1320px;
    padding: 20px 125px;
  }

  .giving-section-2 {
    max-width: 1320px;
    padding: 20px 95px;
  }

  .giving-section-3 {
    max-width: 1320px;
    padding: 20px 95px;
  }

  footer {
    /* max-width: 1320px; */
    padding: 20px 15px;
  }
}

@media (max-width: 1280px) {
  /* ========== Home Page ========== */
  .second-part-section-1-a-btns {
    padding: 12px 15px;
    font-size: 15px;
  }

  .section-2-header h1 {
    font-size: 30px;
  }

  .section-3 {
    max-width: 1280px;
    grid-auto-columns: 247px;
  }

  .grid-1 h3 {
    font-size: 33px;
  }

  .grid-7 h3 {
    font-size: 33px;
  }

  .grid-7 p {
    font-size: 18px;
  }

  .grid-8 h3 {
    font-size: 33px;
  }

  .grid-8 p {
    font-size: 19px;
  }

  .grid-8-btn i {
    position: absolute;
    right: 10%;
    bottom: 6%;
  }

  footer {
    max-width: 1280px;
    padding: 20px 15px;
    grid-auto-columns: 247px;
    gap: 10px;
  }

  /* ========== About Page ========== */
  .about-section-1 {
    max-width: 1280px;
  }

  .about-section-div {
    width: 87%;
  }

  .about-section-2 {
    max-width: 1280px;
    grid-auto-columns: 247px;
    grid-auto-rows: minmax(110px, 1fr);
    line-height: 1.5;
    padding: 20px 105px;
  }

  .about-section-2 h1 {
    font-size: 28px;
  }

  .about-section-2 p {
    font-size: 16px;
    font-weight: 200;
  }

  .about-section-4 {
    max-width: 1280px;
    grid-template-columns: repeat(3, 320px);
    padding: 20px 105px;
  }

  .about-section-4-div p {
    font-size: 16px;
  }

  /* ========== Media Page ========== */
  .media-section-1-embed-video-container {
    margin-top: 25px;
  }

  .media-section-3 {
    max-width: 1280px;
    padding: 20px 105px;
  }

  .media-section-3-grid {
    grid-auto-columns: 330px;
  }

  /* ========== Giving Page ========== */
  .second-giving-grid {
    max-width: 1280px;
  }
}

@media (max-width: 1250px) {
  /* ========== About Page ========== */
  .about-section-2 {
    max-width: 1250px;
    grid-auto-columns: 240px;
    padding: 20px 95px;
  }
  /* ========== Giving Page ========== */
  .giving-section-2 {
    grid-auto-columns: 315px;
  }

  .giving-section-2 h1 {
    font-size: 33px;
  }
}

@media (max-width: 1210px) {
  header {
    margin: 15px 4%;
  }

  /* ========== Home Page ========== */
  .section-1 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .section-2 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .section-3 {
    max-width: 1210px;
    padding: 20px 35px;
    grid-auto-columns: 270px;
  }

  footer {
    max-width: 1210px;
    padding: 20px 5px;
    grid-auto-columns: 265px;
  }

  /* ========== About Page ========== */
  .about-section-1 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .about-section-2 {
    max-width: 1210px;
    padding: 20px 25px;
    grid-auto-columns: 265px;
  }

  .about-section-2 p {
    font-size: 18px;
  }

  .about-section-3 {
    max-width: 1210px;
    padding: 20px 35px;
    gap: 20px;
  }

  .about-section-4 {
    max-width: 1210px;
    padding: 20px 35px;
    grid-template-columns: repeat(3, 360px);
  }

  .about-section-4-div p {
    font-size: 18px;
  }

  /* ========== Information Desk Page ========== */
  .info-section-2 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .info-section-form {
    max-width: 1210px;
    padding: 20px 35px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .media-section-2 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .media-section-3 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .media-section-3-grid {
    grid-auto-columns: 350px;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 {
    max-width: 1210px;
    padding: 20px 35px;
  }

  .giving-section-2 {
    max-width: 1210px;
    padding: 20px 35px;
    grid-auto-columns: 350px;
  }

  .giving-section-3 {
    max-width: 1210px;
    padding: 20px 35px;
  }
}

@media (max-width: 1190px) {
  /* ========== Header ========== */
  header {
    margin: 15px 65px;
    padding: 40px 2%;
  }

  nav a {
    font-size: 14px;
    padding: 6px 15px;
  }

  nav a i {
    font-size: 14px;
    padding: 8px;
    margin-left: -19px;
  }

  /* ========== Home Page ========== */
  .section-1 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .arrow-image {
    width: 65px;
  }

  .second-part-section-1 {
    max-width: 1190px;
    gap: 20px;
  }

  .second-part-section-1-a h1 {
    border-radius: 20px;
    font-size: 25px;
  }

  .second-part-section-1-a-btns {
    padding: 10px 15px;
    font-size: 10px;
  }

  .second-part-section-1-a-btns-div i {
    padding: 10px;
    font-size: 10px;
  }

  .second-part-section-1-b p {
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
  }

  .section-2 {
    max-width: 1000px;
    width: fit-content;
    padding: 20px 35px;
  }

  .section-2-header h1 {
    font-size: 26px;
    margin-top: 0;
  }

  .section-2-event-boxes {
    gap: 10px;
  }

  .section-2-event-box-a,
  .section-2-event-box-b,
  .section-2-event-box-c {
    width: 280px;
    height: 500px;
    padding: 40px 17px;
    border-radius: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-2-event-box-part-1 h6 {
    font-size: 12px;
    width: 130px;
    padding: 2px;
    margin-top: 5px;
  }

  .section-2-event-box-part-1 h2 {
    font-size: 26px;
    margin-top: 10px;
  }

  .section-2-event-box-part-1 i,
  .section-2-event-box-part-1 p {
    font-size: 12px;
  }

  .section-2-event-box-part-2-a,
  .section-2-event-box-part-2-b,
  .section-2-event-box-part-2-c {
    margin-top: 98%;
  }

  .section-2-event-box-part-2-a a,
  .section-2-event-box-part-2-b a,
  .section-2-event-box-part-2-c a {
    font-size: 14px;
    padding: 10px 20px;
  }

  .section-2-event-boxes-arrow i {
    display: none;
  }

  .section-2-event-boxes {
    justify-content: space-between;
  }

  .section-3 {
    max-width: 1000px;
    padding: 20px 35px;
    grid-auto-columns: 270px;
    gap: 15px;
    grid-template-areas:
      "grid-1 grid-2 grid-4"
      "grid-1 grid-3 grid-4"
      "grid-6 grid-5 grid-8"
      "grid-7 grid-7 grid-8";
  }

  footer {
    max-width: 1000px;
    gap: 15px;
    padding: 20px 35px;
    grid-template-areas:
      "footer-grid-1 footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1 footer-grid-1"
      "footer-grid-2 footer-grid-4 footer-grid-5"
      "footer-grid-2 footer-grid-6 footer-grid-3"
      "footer-grid-2 footer-grid-7 footer-grid-7"
      "footer-grid-2 footer-grid-7 footer-grid-7"
      "footer-grid-2 footer-grid-7 footer-grid-7";
  }

  /* ========== About Page ========== */
  .about-section-1 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .about-section-div {
    width: 83%;
  }

  .about-section-2 {
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px 5px;
    grid-auto-columns: 280px;
    grid-template-areas:
      "about-grid-1 about-grid-3 about-grid-4"
      "about-grid-1 about-grid-3 about-grid-5"
      "about-grid-2 about-grid-2 about-grid-5"
      "about-grid-2 about-grid-2 about-grid-5";
  }

  .about-grid-6 {
    display: none;
  }

  .about-section-3 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .about-section-4 {
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, 360px);
  }

  .about-section-4 h1 {
    right: 40%;
  }

  /* ========== Information Desk Page ========== */
  .info-section-2 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .info-section-form {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .info-section-form button {
    width: 92%;
    font-size: 17px;
    padding: 15px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .media-section-1-embed-video-container iframe {
    height: 500px;
  }

  .media-section-1-buttons-container {
    gap: 10px;
  }

  .media-section-1-button {
    font-size: 12px;
  }

  .media-section-1-first-button i,
  .media-section-1-second-button i,
  .media-section-1-third-button i {
    font-size: 10px;
  }

  .media-section-2 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .media-section-3 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .media-section-3-grid {
    grid-auto-columns: 350px;
    gap: 10px;
    grid-template-areas:
      "media-grid-1 media-grid-4"
      "media-grid-2 media-grid-2"
      "media-grid-3 media-grid-3";
  }

  .media-grid-5,
  .media-grid-6 {
    display: none;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .giving-section-1 h1 {
    top: 40px;
    left: 120px;
    font-size: 34px;
  }

  .giving-section-2 {
    max-width: 1000px;
    padding: 20px 65px;
    grid-template-areas:
      "giving-grid-1 giving-grid-1"
      "giving-grid-2 giving-grid-2"
      "giving-grid-3 giving-grid-3";
  }

  .giving-section-3 {
    max-width: 1000px;
    padding: 20px 65px;
  }

  .second-giving-grid {
    max-width: 1000px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 945px) {
  /* ========== Header ========== */
  header {
    margin: 15px 20px;
  }

  nav a {
    font-size: 15px;
    padding: 6px 10px;
    font-weight: 300;
  }

  /* ========== Home Page ========== */
  .section-1 {
    padding: 20px 20px;
  }

  .section-2 {
    padding: 20px 1px;
  }

  .section-2-header h1 {
    padding-left: 5px;
  }

  .section-2-header hr {
    width: 55%;
  }

  .section-2-event-box-a,
  .section-2-event-box-b,
  .section-2-event-box-c {
    width: 240px;
    padding: 40px 19px;
  }

  .section-3 {
    max-width: 945px;
    padding: 20px 5px;
    grid-auto-columns: 230px;
    grid-auto-rows: 200px;
    gap: 10px;
  }

  .grid-1 {
    line-height: 1.2;
  }

  .grid-btns i {
    padding: 15px;
    font-size: 15px;
  }

  .grid-1-btn i {
    bottom: 5%;
  }

  .grid-7-btn i {
    bottom: 6%;
  }

  footer {
    padding: 20px 5px;
    grid-auto-columns: 230px;
    gap: 10px;
  }

  /* ========== About Page ========== */
  .about-section-1 {
    padding: 20px;
  }

  .about-section-1 h1 {
    padding: 1% 6%;
    border-radius: 20px;
    font-size: 2rem;
  }

  .about-section-3 {
    padding: 20px 20px;
    display: block;
  }

  .about-section-3-image-div {
    display: none;
  }

  .about-section-4 {
    max-width: 945px;
    padding: 20px 5px;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 10px;
  }

  .about-section-4 h1 {
    right: 30%;
  }

  /* ========== Information Desk Page ========== */
  .info-section-2 {
    padding: 20px 35px;
  }

  .info-section-2 {
    flex-direction: column;
  }

  .info-section-2-first-div {
    width: 100%;
  }

  .info-section-2-second-div {
    width: 100%;
  }

  .info-section-form {
    padding: 20px 35px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1 {
    max-width: 1000px;
    padding: 20px 20px;
  }

  .media-section-1-embed-video-container iframe {
    height: 540px;
  }

  .media-section-1-button {
    padding: 12px 40px;
  }

  .media-section-1-first-button i,
  .media-section-1-second-button i,
  .media-section-1-third-button i {
    font-size: 10px;
  }

  .media-section-2-headers a {
    font-size: 15px;
  }

  .media-section-3 {
    padding: 20px;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 {
    padding: 20px;
  }

  .giving-section-1 h1 {
    left: 60px;
    font-size: 30px;
  }

  .giving-section-2 {
    max-width: 945px;
    padding: 20px;
  }

  .giving-section-3 {
    padding: 20px;
  }
}

@media (max-width: 871px) {
  .about-section-2 {
    grid-template-areas:
      "about-grid-1 about-grid-3"
      "about-grid-1 about-grid-3"
      "about-grid-4 about-grid-5"
      "about-grid-4 about-grid-5"
      "about-grid-4 about-grid-5"
      "about-grid-2 about-grid-2"
      "about-grid-2 about-grid-2";
  }
}

@media (max-width: 755px) {
  /* ========== Header ========== */
  header {
    padding: 5px 4%;
    margin: 15px 4%;
  }

  .logo img {
    position: absolute;
    top: -17%;
    width: 100px;
  }

  .desk-link {
    display: none;
  }

  .hamburger-menu {
    display: block;
    width: 25px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        rgba(0, 0, 0, 0.836),
        rgba(0, 0, 0, 0),
        rgba(0, 153, 248, 0.5)
      ),
      #032b44;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: 1s;
    z-index: 111;
    display: none;
  }

  .sidebar a {
    color: #fff;
    padding: 15px 40px;
  }

  /* ========== Home Page ========== */
  .section-1 {
    max-width: 755px;
    padding: 20px 4%;
  }

  .arrow-image {
    width: 55px;
    padding: 5px 10px;
  }

  .second-part-section-1-a h1 {
    font-size: 24px;
    padding: 20px 3px;
  }

  .second-part-section-1 {
    gap: 5px;
  }

  .second-part-section-1-a-btns {
    padding: 10px;
  }

  .second-part-section-1-a-btns-div i {
    padding: 10px;
  }

  .second-part-section-1-b p {
    padding: 10px;
    font-size: 13px;
  }

  .section-2-header {
    display: block;
  }

  .section-2-header hr {
    width: 100%;
  }

  .show-below-755 {
    display: block;
  }

  .section-2 {
    max-width: 755px;
  }

  .section-2-event-boxes {
    max-width: 755px;
    position: absolute;
    width: max-content;
    animation: marquee-move-text var(--speed, 10s) linear infinite
      var(--direction, forwards);
  }

  .section-3 {
    max-width: 755px;
    margin-top: 550px;
    padding: 20px 4%;
    gap: 10px;
    grid-template-areas:
      "grid-1 grid-2"
      "grid-1 grid-3"
      "grid-4 grid-8"
      "grid-4 grid-8"
      "grid-6 grid-5"
      "grid-7 grid-7";
  }

  footer {
    max-width: 755px;
    gap: 10px;
    padding: 20px 4%;
    grid-template-areas:
      "footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1"
      "footer-grid-1 footer-grid-1"
      "footer-grid-2 footer-grid-4"
      "footer-grid-2 footer-grid-5"
      "footer-grid-2 footer-grid-6"
      "footer-grid-2 footer-grid-3"
      "footer-grid-7 footer-grid-7"
      "footer-grid-7 footer-grid-7";
  }

  .footer-grid-2 {
    padding: 20px 25px;
  }

  .footer-grid-7 img {
    left: 5%;
    bottom: 10%;
  }

  .footer-grid-7 p {
    font-size: 22px;
  }

  /* ========== About Page ========== */
  .about-section-1 {
    padding: 20px 4%;
  }

  .about-section-div {
    width: 80%;
  }

  .about-section-1 h1 {
    padding: 1% 5%;
  }

  .about-section-2 {
    padding: 20px 4%;
  }

  .about-section-3 {
    padding: 20px 4%;
    /* margin-bottom: 100px; */
  }

  .about-section-3-text-div h1 {
    font-size: 44px;
  }

  .about-section-3-text-div p,
  .about-section-3-text-div li {
    font-size: 15px;
  }

  .about-section-4 {
    display: none;
    max-width: 755px;
    padding: 20px 4%;
    /* position: absolute; */
    /* display: flex;
    animation: marquee-move-text var(--speed, 10s) linear infinite
      var(--direction, forwards); */
  }

  /* ========== Information Desk Page ========== */
  .info-section-form button {
    width: 90%;
  }

  /* ========== Media Center Page ========== */
  .media-section-1 {
    max-width: 755px;
    padding: 20px 4%;
  }

  .media-section-1-embed-video-container iframe {
    height: 380px;
  }

  .media-section-1-button {
    padding: 12px 20px;
  }

  .media-section-2 {
    max-width: 755px;
    padding: 20px 4%;
  }

  .media-section-2-headers a {
    font-size: 10px;
  }

  .media-section-3 {
    max-width: 755px;
    padding: 20px 4%;
  }

  .media-section-3-grid {
    grid-auto-columns: 290px;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 {
    max-width: 755px;
    padding: 20px 4%;
  }

  .giving-section-1 h1 {
    top: 40px;
    left: 60px;
    font-size: 28px;
  }

  .giving-section-2 {
    max-width: 755px;
    padding: 20px 4%;
    grid-auto-columns: 275px;
  }

  .second-giving-grid {
    max-width: 755px;
    padding: 20px 1%;
    gap: 7px;
    grid-template-columns: repeat(auto-fit, 300px);
  }

  .giving-grid-2 {
    padding: 40px 15px;
  }

  .giving-grid-2 a {
    bottom: 10px;
    padding: 10px;
  }

  .giving-section-2 p {
    font-size: 15px;
  }
}

@media (max-width: 680px) {
  .second-part-section-1-a-btns {
    font-size: 9px;
  }

  .media-section-1-embed-video-container iframe {
    height: 350px;
  }
}

@media (max-width: 650px) {
  /* ========== Home Page ========== */
  .second-part-section-1 {
    max-width: 650px;
    flex-direction: column;
    gap: 20px;
  }

  .second-part-section-1-a {
    width: 100%;
  }

  .second-part-section-1-b {
    width: 100%;
  }

  .second-part-section-1-a h1 {
    padding: 20px;
    font-size: 45px;
  }

  .second-part-section-1-a-btns {
    padding: 12px 20px;
    font-size: 15px;
  }

  .second-part-section-1-a-btns-div i {
    padding: 15px;
  }

  .second-part-section-1-b p {
    padding: 20px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 100;
  }

  .section-2 {
    display: none;
  }

  .section-2-event-box-a,
  .section-2-event-box-b,
  .section-2-event-box-c {
    width: 300px;
    height: 500px;
    padding: 40px 17px;
  }

  .section-2-event-box-part-2-a a,
  .section-2-event-box-part-2-b a,
  .section-2-event-box-part-2-c a {
    font-size: 10px;
    padding: 10px;
  }

  .section-3 {
    margin-top: 15px;
  }

  /* ========== About Page ========== */
  .about-section-2 {
    padding: 20px 2%;
  }

  /* ========== Information Desk Page ========== */
  .info-section-2-first-div {
    padding-right: 30px;
  }

  .info-section-2-first-div a i {
    bottom: 72%;
  }

  /* ========== Media Center Page ========== */
  .media-section-1 {
    max-width: 650px;
    padding: 20px 2%;
  }

  .media-section-1-embed-video-container iframe {
    height: 340px;
  }

  .media-section-1-buttons-container {
    gap: 10px;
  }

  .media-section-1-button {
    padding: 12px 15px;
    font-size: 9px;
  }

  .media-section-1-first-button i,
  .media-section-1-second-button i,
  .media-section-1-third-button i {
    font-size: 9px;
    padding: 13px;
  }

  .media-section-2 {
    max-width: 650px;
    padding: 20px 2%;
  }

  .media-section-3 {
    max-width: 650px;
    padding: 20px 2%;
  }

  .media-section-3 h1 {
    line-height: 1;
  }

  .media-section-3-grid {
    grid-auto-columns: 250px;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 {
    max-width: 650px;
    padding: 20px 2%;
  }

  .giving-section-1 h1 {
    font-size: 22px;
  }

  .giving-section-2 {
    max-width: 550px;
    padding: 20px 2%;
    grid-auto-columns: 255px;
  }

  .giving-grid-1 h1 {
    font-size: 28px;
  }

  .giving-grid-2 h1 {
    font-size: 28px;
  }

  .giving-section-3 {
    max-width: 550px;
    padding: 20px 2%;
  }

  .second-giving-grid {
    max-width: 650px;
    grid-template-columns: repeat(2, 250px);
  }

  .second-giving-grid-child p {
    font-size: 15px;
  }

  .second-giving-grid-child-circle {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 620px) {
  .about-section-1 h1 {
    font-size: 26px;
  }

  .about-section-div {
    width: 75%;
  }

  /* ========== Information Desk Page ========== */
  .info-section-form button {
    width: 87%;
    padding: 12px;
  }
}

@media (max-width: 600px) {
  .about-section-2 {
    max-width: 600px;
    grid-auto-columns: 250px;
  }
}

@media (max-width: 550px) {
  /* ========== Home Page ========== */
  /* .section-1 {
    max-width: 550px;
  } */

  header {
    padding: 10px;
    background: transparent;
  }

  nav a {
    padding: 0px 0px;
  }

  .logo img {
    top: -30%;
    width: 75px;
  }

  .hero-image {
    width: 100%;
  }

  .arrow-image {
    width: 50px;
  }

  .second-part-section-1-a h1 {
    font-size: 35px;
    padding: 20px 3px;
  }

  .second-part-section-1-a-btns {
    font-size: 10px;
  }

  .second-part-section-1-a-btns-div i {
    font-size: 10px;
  }

  .second-part-section-1-b p {
    margin-top: 0;
  }

  .showAbove550 {
    display: none;
  }

  .section-3 {
    padding: 20px 2%;
  }

  /* ========== About Page ========== */
  .about-section-1 {
    padding-bottom: 0;
  }
  .about-section-1 h1 {
    font-size: 24px;
    border-radius: 10px;
    padding: 1% 6%;
  }

  .about-section-1 div {
    display: none;
  }

  .about-section-2 {
    grid-auto-columns: 220px;
  }

  .about-section-3-text-div h1 {
    font-size: 34px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container iframe {
    height: 275px;
  }

  .media-section-1-buttons-container {
    margin-top: 10px;
  }

  .media-section-2 {
    margin-top: 0;
  }

  .media-section-2 h1 {
    margin-top: 0;
  }

  .media-section-2 p {
    margin-bottom: 5px;
  }

  .media-section-2-headers a {
    margin-inline: 0;
  }

  .media-section-3 h1 {
    font-size: 34px;
    line-height: 1.5;
  }

  .media-section-3 p {
    font-size: 15px;
  }

  .media-section-3-grid {
    max-width: 550px;
    grid-auto-columns: 200px;
    padding-inline: 2%;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 h1 {
    left: 45px;
  }

  .giving-section-2 {
    grid-auto-columns: 230px;
  }

  .giving-grid-1 h1 {
    font-size: 24px;
  }

  .hideBelow550 {
    display: none;
  }

  .second-giving-grid {
    grid-template-columns: repeat(2, 230px);
  }

  footer {
    padding: 20px 2%;
  }
}

@media (max-width: 500px) {
  /* ========== Home Page ========== */
  .arrow-image {
    width: 40px;
  }

  .second-part-section-1-a-btns-div a {
    font-size: 12px;
  }

  .section-2 {
    display: none;
  }

  .section-3 {
    margin: 15px auto;
    padding: 20px 2%;
    grid-auto-columns: 180px;
    grid-auto-rows: 180px;
  }

  .grid-1 p {
    font-size: 15px;
    margin-top: 2px;
  }

  .grid-1 h3 {
    font-size: 25px;
  }

  .grid-8 h3 {
    font-size: 25px;
  }

  .grid-8 p {
    font-size: 15px;
  }

  .grid-7 h3 {
    font-size: 25px;
  }

  .grid-7 p {
    font-size: 15px;
  }

  .grid-1-btn i {
    bottom: 2%;
  }

  .grid-btns i {
    padding: 10px;
  }

  .grid-3-first-p {
    font-size: 60px;
  }

  /* ========== Footer ========== */
  footer {
    padding: 20px 2%;
    grid-auto-columns: 180px;
    grid-auto-rows: 50px;
  }

  .footer-grid-2 p,
  .footer-grid-2 a,
  a {
    font-size: 12px;
  }

  .footer-grid-2 a {
    font-size: 12px;
  }

  .footer-credit h3,
  .footer-credit a {
    font-size: 10px;
  }

  .footer-grid-4 p i,
  .footer-grid-5 p i,
  .footer-grid-6 p i {
    padding: 5px;
  }

  .footer-grid-4 p,
  .footer-grid-5 p,
  .footer-grid-6 p {
    font-size: 12px;
  }

  .footer-grid-4,
  .footer-grid-5,
  .footer-grid-6 {
    line-height: 50px;
  }

  .footer-grid-7 {
    padding: 20px;
  }

  .footer-grid-7 i {
    font-size: 15px;
    padding: 10px;
  }

  .footer-grid-7 p {
    font-size: 16px;
  }

  .footer-grid-7 img {
    width: 70px;
  }

  /* ========== About Page ========== */
  .about-section-1 h1 {
    font-size: 22px;
    border-radius: 10px;
  }

  .about-section-arrow-image {
    width: 75px;
    padding: 10px 20px;
  }

  .about-section-div {
    padding: 10px;
  }

  .about-section-2 {
    max-width: 500px;
    padding: 20px 2%;
    grid-auto-columns: 180px;
    grid-auto-rows: minmax(10px, 1fr);
  }

  .about-grid-5 h1,
  .about-grid-1 h1 {
    margin-top: 0;
  }

  .about-section-2 p {
    font-size: 15px;
  }

  .about-grid-5 {
    padding: 15px;
    padding-top: 25px;
  }

  .about-section-2 {
    grid-auto-rows: 70px;
  }

  .about-section-2 h1 {
    font-size: 24px;
  }

  .about-section-2 p {
    font-size: 12px;
  }

  .about-grid-1 {
    padding-top: 10px;
  }

  .about-section-3-text-div h1 {
    font-size: 26px;
  }

  .about-section-3-text-div p,
  .about-section-3-text-div li {
    font-size: 12px;
  }

  /* ========== Information Desk Page ========== */
  .info-section-2 {
    padding: 20px 4%;
  }

  .info-section-form form {
    padding: 15px;
  }

  .info-section-1-slider {
    padding-block: 1rem;
  }

  .info-section-1 p {
    font-size: 12px;
  }

  .info-section-1 img {
    width: 20px;
  }

  .info-section-2-first-div h1 {
    font-size: 28px;
    padding-bottom: 8px;
  }

  .info-section-2-first-div p {
    font-size: 12px;
  }

  .info-section-2-first-div {
    padding: 20px;
  }

  .info-section-2-first-div a i {
    font-size: 16px;
    padding: 7px;
  }

  .info-section-2-second-div {
    padding: 20px;
  }

  .info-section-2-second-div p {
    font-size: 12px;
  }

  .info-section-form {
    padding: 20px 4%;
  }

  .info-section-form label {
    font-size: 12px;
    padding: 10px 15px 1px 15px;
  }

  .info-section-form input,
  .info-section-form select {
    font-size: 14px;
    padding: 7px 15px;
  }

  .info-section-form input {
    margin-bottom: 0px;
  }

  .info-section-form button {
    font-size: 12px;
    width: 86%;
    padding: 10px;
  }

  .info-section-form i {
    padding: 12px;
    font-size: 14px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container iframe {
    height: 275px;
  }

  .media-section-1 {
    padding-top: 0;
    margin: 0 auto;
  }

  .media-section-1-button {
    font-size: 8px;
    padding: 8px 12px;
  }

  .media-section-1-first-button i,
  .media-section-1-second-button i,
  .media-section-1-third-button i {
    padding: 8px;
  }

  .media-section-2 h1 {
    font-size: 28px;
  }

  .media-section-2 p {
    font-size: 12px;
  }

  .media-section-2-headers a {
    padding: 5px 10px;
  }

  .media-section-2-headers {
    margin-block: 10px;
  }

  .media-section-2-button {
    padding: 5px 10px;
  }

  .media-section-2-button,
  .media-section-2-button i {
    font-size: 10px;
  }

  .media-section-3 {
    padding: 0 2% 10px 2%;
    margin-top: 0;
  }

  .media-section-3 h1 {
    font-size: 28px;
  }

  .media-section-3 p {
    font-size: 12px;
  }

  .media-section-3-grid {
    grid-auto-columns: 150px;
    grid-auto-rows: 150px;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 {
    padding: 0px 2.5%;
  }

  .giving-section-1 h1 {
    font-size: 18px;
    font-weight: 600;
    top: 15px;
    left: 25px;
  }

  .giving-section-2 {
    grid-auto-columns: 180px;
  }

  .giving-grid-1 {
    padding: 25px 15px;
  }

  .giving-grid-1 h1 {
    font-size: 18px;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  .giving-grid-1 p {
    font-size: 11px;
  }

  .giving-grid-2 {
    padding: 20px 15px;
  }

  .giving-grid-2 h1 {
    font-size: 18px;
  }

  .giving-grid-2 p {
    font-size: 11px;
  }

  .giving-grid-2 a {
    padding: 6px;
    font-size: 8px;
  }

  .giving-grid-3 {
    padding: 20px;
  }

  .giving-grid-3 h1 {
    font-size: 18px;
  }

  .giving-grid-3 p {
    font-size: 11px;
  }

  .giving-section-3 {
    margin-top: 0 auto;
    padding: 0 1%;
  }

  .giving-section-3 h1 {
    font-size: 28px;
  }

  .second-giving-grid {
    grid-template-columns: repeat(2, 180px);
  }

  .second-giving-grid-child p {
    font-size: 11px;
    padding-block: 5px;
  }

  .second-giving-grid-child-circle {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 470px) {
  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container iframe {
    height: 260px;
  }
}

@media (max-width: 450px) {
  .about-section-1 h1 {
    font-size: 20px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container iframe {
    height: 250px;
  }
}

@media (max-width: 440px) {
  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container iframe {
    height: 230px;
  }
}

@media (max-width: 405px) {
  /* ========== Home Page ========== */
  .section-1 {
    padding: 0;
  }

  .arrow-image,
  .hero-image {
    display: none;
  }

  .hero-image-two {
    display: block;
    width: 100%;
  }

  .second-part-section-1 {
    padding: 20px 4%;
  }

  .second-part-section-1-a {
    display: none;
  }

  .second-part-section-1-b {
    background: none;
  }

  .second-part-section-1-b p {
    color: #030303;
    font-weight: 400;
    padding: 0;
  }

  .section-3 {
    grid-auto-columns: 160px;
    grid-auto-rows: 160px;
    padding-top: 0;
  }

  .grid-1 h3 {
    font-size: 18px;
  }

  .grid-1 p {
    font-size: 13px;
  }

  .grid-7 {
    padding: 20px;
  }

  .grid-8 p,
  .grid-7 p {
    font-size: 13px;
  }

  .grid-3-first-p {
    font-size: 40px;
  }

  .grid-3-second-p {
    font-size: 12px;
  }

  footer {
    grid-auto-columns: 155px;
  }

  /* ========== About Page ========== */
  .about-section-1 h1 {
    /* font-size: 19px; */
    display: none;
  }

  .about-section-1 {
    padding: 0px;
  }

  .about-section-image-1 {
    display: none;
  }

  .about-section-image-1-mobile {
    display: inline;
    width: 100%;
  }

  .about-section-2 {
    grid-auto-columns: 160px;
  }

  .about-grid-1 p {
    font-size: 11px;
  }

  .about-section-3-text-div h1 {
    font-size: 24px;
  }

  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container {
    margin-top: 15px;
  }

  .media-section-1-embed-video-container iframe {
    height: 220px;
  }

  /* ========== Giving Page ========== */
  .giving-section-1 h1 {
    font-size: 15px;
  }

  .giving-section-1 {
    padding: 0 4%;
  }

  .giving-section-2 {
    grid-auto-columns: 155px;
  }

  .giving-grid-1 h1 {
    font-size: 15px;
  }

  .second-giving-grid {
    grid-template-columns: repeat(2, 150px);
  }

  .second-giving-grid-child {
    padding: 10px;
    border-radius: 20px;
  }
}

@media (max-width: 375px) {
  .media-section-1-embed-video-container iframe {
    height: 210px;
  }

  .media-section-1-button {
    font-size: 7px;
    padding: 6px 10px;
  }

  .media-section-1-buttons-container {
    gap: 5px;
  }

  .media-section-1-first-button i,
  .media-section-1-second-button i,
  .media-section-1-third-button i {
    font-size: 7px;
    padding: 7px;
  }

  .media-section-2 h1 {
    font-size: 24px;
  }

  .media-section-3 h1 {
    font-size: 24px;
  }
}

@media (max-width: 355px) {
  .media-section-1-embed-video-container iframe {
    height: 200px;
  }
}

@media (max-width: 345px) {
  /* ========== Home Page ========== */
  .second-part-section-1-a-btns-div a {
    font-size: 10px;
  }

  .second-part-section-1-a-btns {
    padding: 8px 10px;
  }

  .section-3 {
    grid-auto-columns: 145px;
    grid-auto-rows: 145px;
  }

  .grid-1 p {
    font-size: 11.5px;
  }

  .grid-8 {
    padding-top: 20px;
  }

  .grid-8 h3 {
    font-size: 20px;
  }

  .grid-8 p {
    font-size: 12px;
  }

  footer {
    grid-auto-columns: 145px;
  }

  /* ========== About Page ========== */
  .about-section-2 {
    grid-auto-columns: 145px;
    grid-auto-rows: 65px;
  }

  .about-section-2 h1 {
    font-size: 14px;
  }

  .about-section-2 p{
    font-size: 11px;
  }

  .about-section-3-text-div h1{
    font-size: 20px;
  }

  /* ========== Information Desk Page ========== */
  .info-section-2-first-div a i{
    bottom: 75%;
  }

  .info-section-form button{
    width: 85%;
  }

  /* ========== Media Center Page ========== */
  .media-section-1-embed-video-container iframe {
    height:180px;
  }

  .media-section-3-grid{
    padding-inline: 0;
  }
  /* ========== Giving Page ========== */
  .giving-section-1 h1{
    font-size: 13px;
  }

  .giving-section-2{
    grid-auto-columns: 145px;
  }
}
