.slide-show-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper{
    width: 80%;
    height: fit-content;
    margin: auto;

}

.swiper-slide img {
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: rgb(247, 158, 61);
}
.swiper .swiper-pagination-bullet-active{
    background: rgb(247, 158,61);
}