* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
  scroll-behavior: smooth;
  color: #1e1e1e;
}

/* ========== Header ========== */

header {
  display: flex;
  padding: 20px 5%;
  margin: 15px 9%;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 60px;
}

nav {
  margin-left: auto;
}

nav a {
  color: #1e1e1e;
  font-size: 17px;
  padding: 6px 20px;
  font-weight: 300;
}

.giving-nav-link {
  background-color: #f79e3d;
  border-radius: 20px;
  color: #fffaf0;
}

nav a i {
  background-color: #f79e3d;
  color: #fffaf0;
  padding: 9px;
  border-radius: 50%;
  margin-left: -23px;
}

/* ========== Home Page ========== */
/* ========== Section 1 ========== */
section {
  margin: 20px auto;
}

.section-1 {
  max-width: 1400px;
  margin: 15px auto;
  padding: 20px 2.5%;
}

.first-part-section-1 {
  position: relative;
  /* 
  min-height: 400px;
  background: url("/assets/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  width: 100%;
}

.arrow-image {
  position: absolute;
  bottom: 5px;
  right: 91%;
  width: 105px;
  background-color: #070658;
  border-radius: 30px;
  padding: 20px 20px;
  cursor: pointer;
}

.second-part-section-1 {
  max-width: 1400px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.second-part-section-1-a h1 {
  background-color: #d02a29;
  border-radius: 40px;
  padding: 40px 20px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.second-part-section-1-a div {
  display: flex;
  justify-content: space-evenly;
}

.second-part-section-1-a-btns-div {
  margin-top: 9px; /* DO NOT DELETE */
}

.second-part-section-1-a-btns {
  background-color: #f79e3d;
  color: #fffaf0;
  padding: 12px 30px;
  border-radius: 30px;
}
.second-part-section-1-a-btns-div i {
  background-color: #f79e3d;
  color: #fffaf0;
  padding: 15px;
  border-radius: 50%;
}

.second-part-section-1-a-btns-div a {
  display: flex;
}

.second-part-section-1-b {
  height: 188px;
  width: 726px;
  background: url("/assets/hero-copy-bg.png");
  background-size: cover;
  background-position: center;
}

.second-part-section-1-b p {
  color: #fffaf0;
  padding: 25px;
  padding-top: 45px;
  font-size: 22px;
  line-height: 1.5;
}

/* ========== Section 2 ========== */
.section-2 {
  max-width: 1270px;
  margin: 60px auto;
  padding: 20px 2.5%;
}

.section-2-header {
  display: flex;
  align-items: center;
}

.section-2-header h1 {
  margin-right: 15px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 34.85px;
}

.section-2-header hr {
  width: 58%;
}

/* Event Boxes */
.section-2-event-boxes {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-2-event-box-a {
  width: 330px;
  height: 640px;
  padding: 40px;
  border: none;
  border-radius: 40px;
  background: url("/assets/event-1.png");
}

.section-2-event-box-b {
  width: 330px;
  height: 640px;
  padding: 40px;
  border: none;
  border-radius: 40px;
  background: url("/assets/event-2.png");
}

.section-2-event-box-c {
  width: 330px;
  height: 640px;
  padding: 40px;
  border: none;
  border-radius: 40px;
  background: url("/assets/event-3.png");
}

.section-2-event-box-part-1 h6 {
  color: #fffaf0;
  font-size: 17px;
  text-align: center;
  border: 2px solid #fffaf0;
  border-radius: 20px;
  width: 170px;
  padding: 5px;
}

.section-2-event-box-part-1 h2 {
  color: #fffaf0;
  font-size: 34.85px;
}

.section-2-event-box-part-1 div {
  display: flex;
  align-items: center;
}

.section-2-event-box-part-1 i {
  margin-right: 8px;
}

.section-2-event-box-part-1 i,
.section-2-event-box-part-1 p {
  color: #fffaf0;
  font-size: 15px;
}

.section-2-event-box-part-2-a,
.section-2-event-box-part-2-b,
.section-2-event-box-part-2-c {
  text-align: center;
  margin-top: 110%;
}

.section-2-event-box-part-2-a a {
  color: #1e1e1e;
  background-color: #f4e13d;
  font-size: 17px;
  padding: 15px 20px;
  border-radius: 30px;
}

.section-2-event-box-part-2-b a {
  color: #1e1e1e;
  background-color: #03bf56;
  font-size: 17px;
  padding: 15px 20px;
  border-radius: 30px;
}

.section-2-event-box-part-2-c a {
  color: #1e1e1e;
  background-color: #ed5608;
  font-size: 17px;
  padding: 15px 20px;
  border-radius: 30px;
}

.section-2-event-boxes-arrow i {
  color: #fffaf0;
  background-color: #f79e3d;
  width: 118px;
  height: 118px;
  padding: 20px;
  border-radius: 50%;
}

/* ========== Section 3 ========== */
.section-3 {
  display: grid;
  /* width: min(95%, 1300px); */
  max-width: 1400px;
  width: fit-content;
  margin: 15px auto;
  padding: 20px 2.5%;
  grid-auto-columns: 280px;
  grid-auto-rows: minmax(250px, 1fr);
  gap: 15px;
  grid-template-areas:
    "grid-1 grid-2 grid-4 grid-5"
    "grid-1 grid-3 grid-4 grid-8"
    "grid-6 grid-7 grid-7 grid-8";
}

.grid-1 {
  grid-area: grid-1;
  background: url("/assets/grid-1-conference.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  padding-top: 60px;
  border-radius: 30px;
}

.grid-1 h3,
.grid-1 p {
  color: #fffaf0;
}

.grid-1 h3 {
  font-size: 35px;
}

.grid-1 p {
  font-size: 20px;
}

.grid-2 {
  grid-area: grid-2;
  background: url("/assets/grid-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.grid-3 {
  grid-area: grid-3;
  background: url("/assets/grid-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 20px;
  line-height: 1;
  position: relative;
}

.grid-3-paragraphs {
  position: absolute;
  right: 5%;
  bottom: 10%;
}

.grid-3 p {
  color: #fffaf0;
}

.grid-3-first-p {
  font-size: 80px;
  font-weight: 200;
}

.grid-3-second-p {
  font-size: 17px;
  font-weight: 500;
}

.grid-4 {
  grid-area: grid-4;
  background: url("/assets/grid-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.grid-5 {
  grid-area: grid-5;
  background: url("/assets/grid-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.grid-6 {
  grid-area: grid-6;
  background: url("/assets/grid-6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.grid-7 {
  grid-area: grid-7;
  background: url("/assets/grid-7.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  padding-top: 40px;
  border-radius: 30px;
  position: relative;
}

.grid-7 h3,
.grid-7 p {
  color: #1e1e1e;
}

.grid-7 h3 {
  font-size: 35px;
}

.grid-7 p {
  font-size: 20px;
}

.grid-8 {
  grid-area: grid-8;
  background: url("/assets/grid-8.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  padding-top: 40px;
  border-radius: 30px;
  position: relative;
}

.grid-8 h3,
.grid-8 p {
  color: #fffaf0;
}

.grid-8 h3 {
  font-size: 35px;
}

.grid-8 p {
  font-size: 20px;
}

.grid-btns i {
  background-color: #fffaf0;
  color: #1e1e1e;
  padding: 20px;
  font-size: 20px;
  border-radius: 50%;
}

.grid-7-btn i {
  position: absolute;
  left: 80%;
  bottom: 12%;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border: none;
}

.grid-8-btn i {
  position: absolute;
  right: 10%;
  bottom: 12%;
}

/* ========== Footer ========== */
footer {
  display: grid;
  max-width: 1400px;
  width: fit-content;
  margin: 15px auto;
  padding: 20px 2.5%;
  grid-auto-columns: 280px;
  grid-auto-rows: minmax(60px, 1fr);
  gap: 10px;
  grid-template-areas:
    "footer-grid-1 footer-grid-1 footer-grid-2 footer-grid-4"
    "footer-grid-1 footer-grid-1 footer-grid-2 footer-grid-5"
    "footer-grid-1 footer-grid-1 footer-grid-2 footer-grid-6"
    "footer-grid-1 footer-grid-1 footer-grid-2 footer-grid-7"
    "footer-grid-1 footer-grid-1 footer-grid-2 footer-grid-7"
    "footer-grid-1 footer-grid-1 footer-grid-3 footer-grid-7";
}

.footer-grid-1 {
  grid-area: footer-grid-1;
}

.footer-grid-1 iframe {
  border-radius: 30px;
}

.footer-grid-2 {
  grid-area: footer-grid-2;
  background: url("/assets/footer-grid-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 50px 25px;
  line-height: 3;
}

.footer-grid-2 p,
a {
  color: #fffaf0;
}

.footer-grid-2 a {
  display: block;
  font-size: 17px;
}

.footer-grid-3 {
  grid-area: footer-grid-3;
  background: url("/assets/footer-grid-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.footer-grid-4 {
  grid-area: footer-grid-4;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  border: 2px solid #1e1e1e;
  font-size: 17px;
}

.footer-grid-4 a {
  display: flex;
  justify-content: space-evenly;
}

.footer-grid-5 {
  grid-area: footer-grid-5;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  border: 2px solid #1e1e1e;
  font-size: 17px;
}

.footer-grid-5 a {
  display: flex;
  justify-content: space-evenly;
}

.footer-grid-6 {
  grid-area: footer-grid-6;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
  border: 2px solid #1e1e1e;
  font-size: 17px;
}

.footer-grid-6 a {
  display: flex;
  justify-content: space-evenly;
}

.footer-grid-7 {
  grid-area: footer-grid-7;
  background: url("/assets/footer-grid-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  padding: 25px;
  position: relative;
}

.footer-grid-4 p i,
.footer-grid-5 p i,
.footer-grid-6 p i {
  background-color: #f79e3d;
  color: #fffaf0;
  padding: 9px;
  border-radius: 50%;
}

.footer-grid-7 p,
a {
  color: #fffaf0;
}

.footer-grid-7 p {
  font-size: 26px;
}

.footer-grid-7 i {
  font-size: 20px;
  color: #1e1e1e;
  background-color: #fffaf0;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.footer-grid-7 img {
  position: absolute;
  left: 10%;
  bottom: 20%;
}

/* ========== About Page ========== */
/* ========== About Section 1 ========== */
.about-section-1 {
  max-width: 1400px;
  margin: 15px auto;
  padding: 20px 125px;
  position: relative;
}

.about-section-image-1 {
  width: 100%;
  margin-bottom: 10px;
}

.about-section-1 h1 {
  position: absolute;
  background-color: #d02a29;
  color: #fffaf0;
  font-weight: 200;
  padding: 10px 65px;
  border-radius: 30px;
  font-size: 60px;
}

.about-section-1 div {
  display: flex;
  justify-content: space-between;
}

.about-section-arrow-image {
  width: 100px;
  background-color: #f79e3d;
  padding: 20px;
  border-radius: 30px;
}

.about-section-div {
  background-color: #17143d;
  width: 90%;
  padding: 20px;
  border-radius: 30px;
}

/* ========== About Section 2 ========== */
.about-section-2 {
  display: grid;
  max-width: 1400px;
  width: fit-content;
  margin: 15px auto;
  padding: 20px 2.5%;
  grid-auto-columns: 280px;
  grid-auto-rows: minmax(140px, 1fr);
  gap: 10px;
  grid-template-areas:
    "about-grid-1 about-grid-3 about-grid-4 about-grid-4"
    "about-grid-1 about-grid-3 about-grid-5 about-grid-6"
    "about-grid-2 about-grid-2 about-grid-5 about-grid-6"
    "about-grid-2 about-grid-2 about-grid-5 about-grid-6";
}

.about-grid-1 {
  grid-area: about-grid-1;
  background: url("/assets/about-img-new08.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-grid-2 {
  grid-area: about-grid-2;
  background: url("/assets/about-img-new05.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-grid-3 {
  grid-area: about-grid-3;
  background: url("/assets/about-img-new06.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-grid-4 {
  grid-area: about-grid-4;
  background: url("/assets/about-img-new07.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-grid-5 {
  grid-area: about-grid-5;
  background: url("/assets/about-img-new04.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.about-grid-6 {
  grid-area: about-grid-6;
  background: url("/assets/about-img-new03.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

/* ========== About Section 3 ========== */
.about-section-3 {
  max-width: 1400px;
  width: fit-content;
  margin: 15px auto;
  padding: 20px 125px;
  display: grid;
  grid-template-columns: auto 300px;
  gap: 10px;
}

.about-section-3-text-div h1 {
  font-weight: 200;
  font-size: 48px;
}

.about-section-3-text-div p {
  font-weight: 400;
  font-size: 20px;
}

.about-section-3-text-div li {
  font-weight: 400;
  font-size: 20px;
  margin-left: 25px;
}

.about-section-3-image-div {
  display: inline-block;
}

/* ========== About Section 4 ========== */

.about-section-4 {
  max-width: 1400px;
  margin: 15px auto;
  padding: 20px 2.5%;
  position: relative;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 370px);
  grid-auto-rows: 400px;
  gap: 10px;
  margin-top: 120px;
}

.about-section-4 h1 {
  position: absolute;
  top: -100px;
  right: 58%;
  background-color: #d02a29;
  color: hsl(40, 100%, 97%);
  padding: 10px 40px;
  border-radius: 50px;
  display: inline;
  font-weight: 200;
  font-size: 36px;
}

.about-section-4-div {
  background-color: rgba(128, 128, 128, 0.076);
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

.about-section-4-div p {
  font-size: 20px;
}

.about-section-4-div div {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 5%;
  background-color: #fff;
  width: 80%;
}

/* ========== Information Desk Page ========== */
/* ========== Info Section 1 ========== */

.info-section-1 {
  overflow: clip;
  max-width: 1440px;
  margin-inline: auto;
  background-color: #1e1e1e;
}

.info-section-1-slider {
  display: flex;
  padding-left: 4.8rem;
  padding-block: 1.5rem;
  gap: 4.8rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite
    var(--direction, forwards);
}

.info-section-1 p {
  color: #fffaf0;
  font-size: 17px;
}

.info-section-1 img {
  width: 24px;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

.info-section-1-slider:hover {
  animation-play-state: paused;
}

/* ========== Info Section 2 ========== */
.info-section-2 {
  max-width: 1400px;
  margin: 15px auto;
  padding: 20px 125px;
  display: flex;
  gap: 10px;
}

.info-section-2-first-div {
  background: url("/assets/info-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  width: 70%;
  padding: 30px;
  padding-right: 150px;
  position: relative;
}

.info-section-2-first-div h1 {
  color: #fffaf0;
  font-size: 46px;
  font-weight: 200;
  padding-bottom: 15px;
}

.info-section-2-first-div p {
  color: #fffaf0;
  font-size: 17px;
}

.info-section-2-first-div a i {
  background-color: #fffaf0;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.info-section-2-second-div {
  background: url("/assets/info-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  width: 30%;
  padding: 60px 20px;
  text-align: center;
}

.info-section-2-second-div img {
  display: inline-block;
}

.info-section-2-second-div p {
  color: #fffaf0;
  font-size: 17px;
}

/* ========== Info Section Form ========== */
.info-section-form{
  max-width: 1400px;
  margin: 15px auto;
  padding: 20px 125px;
}

.info-section-form form{
  border: 2px solid #1e1e1e;
  border-radius: 30px;
  padding: 20px;
}

.info-section-form label{
  display: block;
  font-size: 17px;
  padding: 10px 15px;
}

.info-section-form input{
  width: 100%;
  border-radius: 30px;
  padding: 15px;
  font-size: 17px;
  margin-bottom: 10px;
}

.info-section-form select{
  width: 100%;
  border-radius: 30px;
  font-size: 17px;
  padding: 15px;
}

.info-section-form button{
  width: 94%;
  border-radius: 30px;
  font-size: 17px;
  padding: 15px;
  border: none;
  color: #fffaf0;
  background-color: #f79e3d;
  margin-top: 10px;
  cursor: pointer;
}

.info-section-form i{
  width: 10%;
  border-radius: 30px;
  font-size: 19px;
  padding: 15px;
  border: none;
  color: #fffaf0;
  background-color: #f79e3d;
  margin-top: 10px;
  cursor: pointer;
}